
## <summary>policy for nomadic</summary>


########################################
## <summary>
##	Transition to nomadic.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nomadic_domtrans',`
	gen_require(`
		type nomadic_t, nomadic_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nomadic_exec_t, nomadic_t)
')


########################################
## <summary>
##	Execute nomadic server in the nomadic domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nomadic_initrc_domtrans',`
	gen_require(`
		type nomadic_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nomadic_initrc_exec_t)
')


########################################
## <summary>
##	Search nomadic lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nomadic_search_lib',`
	gen_require(`
		type nomadic_var_lib_t;
	')

	allow $1 nomadic_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nomadic lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nomadic_read_lib_files',`
	gen_require(`
		type nomadic_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nomadic_var_lib_t, nomadic_var_lib_t)
')

########################################
## <summary>
##	Manage nomadic lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nomadic_manage_lib_files',`
	gen_require(`
		type nomadic_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nomadic_var_lib_t, nomadic_var_lib_t)
')

########################################
## <summary>
##	Manage nomadic lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nomadic_manage_lib_dirs',`
	gen_require(`
		type nomadic_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nomadic_var_lib_t, nomadic_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nomadic environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nomadic_admin',`
	gen_require(`
		type nomadic_t;
		type nomadic_initrc_exec_t;
		type nomadic_var_lib_t;
	')

	allow $1 nomadic_t:process { ptrace signal_perms };
	ps_process_pattern($1, nomadic_t)

	nomadic_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nomadic_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nomadic_var_lib_t)

')

